<h1>New Record</h1>

<form method="post" action="/photos">
    
    
    <label for ="caption">
        Caption: <input type="text"id="caption" name="caption">
    </label>
    
    <label for ="photo">
        Photo URL: <input type="text"id="photo" name="photo">
    </label>
    
    <input type="submit">
    
    
</form>